.p1, .p2{
    display: none;
    margin-bottom: 30px;
    font-size: larger;
}
.main{
    width: 100vw;
    height:  100vh;
    background-color: rgb(99, 209, 172);
}
.small{
    display: flex;
    justify-content: space-evenly;;
}
button{
    height: 100px;
    width: 200px;
    margin-top: 15%;
    border: 10px dotted darkcyan;
    font-size: 20px;
}